openapi: 3.1.0
info:
    version: 1.0.0
    title: Steam API
    termsOfService: https://example.com/terms/
    contact:
        name: Наша поддержка
        email: steam@support.com
        url: https://help.steampowered.com/ru/
    license:
        name: Apache 2.0
        url: http://www.apache.org/licenses/LICENSE-2.0.html
    x-logo:
        url: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/1024px-Steam_icon_logo.svg.png"
        altText: Стим Лого
    description: >
        Данная страница представляет собой описание REST API сервиса Steam
tags:
    - name: Game
      description: "Получение и создание игр"
    - name: User
      description: "Example actions on user accounts."
    - name: Admin
      description: "Example operations reserved for administrators."
    - name: Info
      description: "Example operations for retrieving information."
    - name: Tag
      description: "This is a tag description."
x-tagGroups:
    - name: Игры
      tags:
          - Game
          - User
    - name: Administration
      tags:
          - Admin
paths:
    "/games/{id}":
        $ref: "./paths/games/{id}/get.yaml"
    "/users/{username}":
        $ref: "./paths/users/{username}/get.yaml"
components:
    securitySchemes:
        main_auth:
            description: "Example description text of the OAuth2 scheme."
            type: oauth2
            flows:
                implicit:
                    authorizationUrl: http://example.com/api/oauth/dialog
                    scopes:
                        "read:users": read user info
                        "write:users": modify or remove users
servers:
    - url: https://store.steampowered.com
